{% extends '_base.html' %}

{% block content %}
  <div class="container">
    <h2 style="color: white; margin: 20px;">About Us</h2>
    <p style="color: wheat; margin: 50px;">The Digital Police Occurrence Booking App is a cutting-edge software solution developed to revolutionize the way police departments manage and track occurrences and incidents.

      Our team of dedicated developers and law enforcement experts collaborated to create a user-friendly platform that meets the unique needs of police organizations. With a focus on efficiency, accuracy, and transparency, our app empowers police personnel to effectively document, monitor, and analyze various types of incidents.

      At Digital Police Occurrence Booking, we are committed to providing top-notch support and continuously improving our product to ensure it remains at the forefront of innovation in law enforcement technology.</p>
  </div>
{% endblock %}
