{% extends '_base.html' %}
{% load static %}

<title>
  {% block title %}
  Home | {{ block.super }}
  {% endblock %}
</title>

{% block content %}
{% include 'obook_app/carousel.html' %}
<div class="container marketing">
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <img src="{% static  'img/tracking.png' %}" class="bd-placeholder-img rounded-circle" width="140" height="140"
        role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
      <title>Placeholder</title>
      <rect width="100%" height="100%" fill="var(--bs-secondary-color)" />
      </img>
      <h2 class="fw-normal">Incident Tracking</h2>
      <p>Some representative placeholder content for the three columns of text below the carousel. This is the first
        column.</p>
      <p>
        <a class="btn btn-secondary" href="" style="color: #722e22;">View details &raquo;</a>
      </p>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img src="{% static  'img/reporting.png' %}" class="bd-placeholder-img rounded-circle" width="140" height="140"
        role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
      <title>Placeholder</title>
      <rect width="100%" height="100%" fill="var(--bs-secondary-color)" />
      </img>
      <h2 class="fw-normal">Simplify Reporting</h2>
      <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
      <p>
        <a class="btn btn-secondary" href="" style="color: #722e22;">View details &raquo;</a>
      </p>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img src="{% static  'img/accountability.png' %}" class="bd-placeholder-img rounded-circle" width="140"
        height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder"
        preserveAspectRatio="xMidYMid slice" focusable="false">
      <title>Placeholder</title>
      <rect width="100%" height="100%" fill="var(--bs-secondary-color)" />
      </img>
      <h2 class="fw-normal">Enhance Accountability</h2>
      <p>And lastly this, the third column of representative placeholder content.</p>
      <p>
        <a class="btn btn-secondary" href="" style="color: #722e22;">View details &raquo;</a>
      </p>
    </div>
    <!-- /.col-lg-4 -->
  </div>
  <!-- /.row -->

  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider" />

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">Log occurrences</h2>
      <p class="lead">Manage incident details, scheduling officers' shifts, generating reports for analysis</p>
    </div>
    <div class="col-md-5">
      <img src="{% static 'img/log-occurence.png' %}"
        class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"
        xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
        preserveAspectRatio="xMidYMid slice" focusable="false">
      <title>Placeholder</title>
      <rect width="100%" height="100%" fill="var(--bs-secondary-bg)" />
      <text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text>
      </img>
    </div>
  </div>

  <hr class="featurette-divider" />

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1">Digitizing incidences</h2>
      <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this
        layout would work with some actual real-world content in place.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img src="{% static 'img/digitize-occurence.png' %}"
        class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"
        xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
        preserveAspectRatio="xMidYMid slice" focusable="false">
      <title>Placeholder</title>
      <rect width="100%" height="100%" fill="var(--bs-secondary-bg)" />
      <text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text>
      </img>
    </div>
  </div>

  <hr class="featurette-divider" />

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">Efficient Incident Management<span
          class="text-body-secondary"></span></h2>
      <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended
        to be actually read, simply here to give you a better view of what this would look like with some actual
        content. Your content.</p>
    </div>
    <div class="col-md-5">
      <img src="{% static 'img/incident-manage.png' %}"
        class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"
        xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
        preserveAspectRatio="xMidYMid slice" focusable="false">
      <title>Placeholder</title>
      <rect width="100%" height="100%" fill="var(--bs-secondary-bg)" />
      <text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text>
      </img>
    </div>
  </div>

  <hr class="featurette-divider" />

  <!-- /END THE FEATURETTES -->
</div>
<!-- /.container -->
{% endblock %}